<h2>Web worker items</h2>

<div class="actions">
  <div class="timer-block action">
    <label>Timer, ms: </label>
    <input #timerInput type="number" [value]="timer"
      (change)="changeTimer(timerInput.value)"/>
  </div>
  <div class="array-size-block action">
    <label>Array size: </label>
    <input #arraySizeInput type="number" [value]="arraySize"
      (change)="changeArraySize(arraySizeInput.value)"/>
  </div>
  <div class="additionally-array-ids-block action">
    <label>Additionally array ids: </label>
    <input #additionallyArrayIdsInput type="text" [value]="additionalIds" placeholder="123,233,111"
      (change)="changeAdditionallyArrayIds(additionallyArrayIdsInput.value)"/>
  </div>
</div>

<table class="main">
  <tr>
    <th>index</th>
    <th>id</th>
    <th>int</th>
    <th>float</th>
    <th>color</th>
    <th>child</th>
  </tr>
  <tbody>
    <tr *ngFor="let item of items; index as i">
      <td>{{ i+1 }}</td>
      <td>{{ item.id }}</td>
      <td>{{ item.int }}</td>
      <td>{{ item.float }}</td>
      <td [ngStyle]="{
        'background-color': item.color
      }">{{ item.color }}</td>
      <td>
        <table>
          <tr>
            <th>id</th>
            <th>color</th>
          </tr>
          <tbody>
            <tr>
              <td>{{ item.child.id }}</td>
              <td [ngStyle]="{
                'background-color': item.child.color
              }">{{ item.child.color }}</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
