:host {
  display: block;
  padding: 1rem 8rem;
}

.actions {
  display: flex;
  gap: 20px;

  .action {
    display: flex;
    gap: 5px;
    align-items: baseline;
  }
}

.main {
  margin-top: 1rem;
}

table {
  width: 100%;

  tr {
    text-align: center;
    border: 1px solid;

    td {
      border: 1px solid;
    }

    th {
      background-color: grey;
    }
  }
}
